XML/ejemplos de xsd/XSD/paises.xsd

<?xml version="1.0" encoding="UTF-8"?> 

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

     <xsd:element name="Pais">

         <xsd:complexType>

            <xsd:sequence>

                 <xsd:element name="nombre" type="xsd:string"/>

                 <xsd:element name="capital" type="xsd:string"/>

                 <xsd:element name="poblacion" type="xsd:integer"/>

                 <xsd:element name="moneda" type="xsd:string"/>

            </xsd:sequence>


        </xsd:complexType>

   </xsd:element>

</xsd:schema>