XML/ejemplos de xsd/XSD/peliculas.xsd

 <?xml version="1.0" encoding="UTF-8"?> 

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

     <xsd:element name="Pelicula">

         <xsd:complexType>

            <xsd:sequence>

                 <xsd:element name="titulo" type="xsd:string"/>

                 <xsd:element name="director" type="xsd:string"/>

                 <xsd:element name="anioestreno" type="xsd:integer"/>

                 <xsd:element name="genero" type="xsd:string"/>

            </xsd:sequence>


        </xsd:complexType>

   </xsd:element>

</xsd:schema>