XML/ejemplos de xsd/XSD/personas.xsd

<?xml version="1.0" encoding="UTF-8"?> 

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

     <xsd:element name="Persona">

         <xsd:complexType>

            <xsd:sequence>

                 <xsd:element name="nombre" type="xsd:string"/>

                 <xsd:element name="fechanacimiento" type="xsd:date"/>

                 <xsd:element name="dirección" type="xsd:string"/>

                 <xsd:element name="númerotelefono" type="xsd:integer"/>

            </xsd:sequence>


        </xsd:complexType>

   </xsd:element>

</xsd:schema>

