XML/ejemplos de xsd/XSD/productos.xsd

<?xml version="1.0" encoding="UTF-8"?> 

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

     <xsd:element name="Producto">

         <xsd:complexType>

            <xsd:sequence>

                 <xsd:element name="nombre" type="xsd:string"/>

                 <xsd:element name="descripcion" type="xsd:string"/>

                 <xsd:element name="unidadesdisponibles" type="xsd:integer"/>

            </xsd:sequence>

             <xsd:attribute name="precio" type="xsd:double"/>


        </xsd:complexType>

   </xsd:element>

</xsd:schema